{% extends "base.html" %}
{% block title %}Change Password - CineBuff{% endblock %}

{% block content %}
<div class="form-screen">
  <form method="POST" class="form-layout">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend>📝 Change Password for CineBuff</legend>

      {% for field in [form.current_password, form.new_password, form.confirm_new_password] %}
      <div class="form-group">
        {{ field.label(class="form-control-label") }}
        {{ field(class="form-control" + (' error-field' if field.errors else '')) }}
        {% for error in field.errors %}
        <div class="error-msg">{{ error }}</div>
        {% endfor %}
      </div>
      {% endfor %}
    </fieldset>

    <div class="form-group d-flex justify-content-center">
      <button type="button" class="btn btn-warning" onclick="window.history.back();">Cancel</button>
      &nbsp;&nbsp;
      {{ form.submit(class="btn btn-warning") }}
    </div>
  </form>
</div>
{% endblock %}
