{% extends "base.html" %}
{% block title %}Login - CineBuff{% endblock %}

{% block content %}
  <form method="POST" class="form-layout">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend>🔐 Login for CineBuff</legend>

      {% for field in [form.username, form.password] %}
      <div class="form-group">
        {{ field.label(class="form-control-label") }}
        {{ field(class="form-control" + (' error-field' if field.errors else '')) }}
        {% for error in field.errors %}
        <div class="error-msg">{{ error }}</div>
        {% endfor %}
      </div>
      {% endfor %}
    </fieldset>

    <div class="form-group">
      {{ form.submit(class="btn btn-warning") }}
    </div>
  </form>
{% endblock %}
