{% extends "base.html" %}
{% block title %}Shared Review - {{ movie.primaryTitle }}{% endblock %}

{% block content %}
<div class="container text-light py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 style="color: #ffd700;">{{ movie.primaryTitle }} ({{ movie.startYear }})</h2>
      <p><strong>Rating:</strong> {{ review.rating }}/5</p>
      <p>{{ review.content }}</p>
      <p>Reviewed by <strong style="color: #fbbc04;">{{ review.username }}</strong></p>

    </div>
  </div>
</div>
{% endblock %}
